{% extends "base.html.twig" %}

{% block body %}
    <h2> Liste des utilisateurs, clique pour visiter leur page de profil</h2>
    {% for user in user %}
        <p>{{ user.name }} || {{ user.surname }}</p>
        <p>{{ user.work }}</p>
        <a href="{{ path('profile_users', {'id': user.id}) }}"><p>{{ user.username }}</p></a>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(user) }}
    </div>
{% endblock %}