{% extends "base.html.twig" %}

{% block body %}
    <h2 class="Title"> Liste des utilisateurs, clique pour visiter leur page de profil</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if surnameUser is empty %}
        {% for user in user %}
            <div class="BlockU">
                <p class="NameU">{{ user.name }} || {{ user.surname }}</p>
                {% if user.work != NULL %}
                    <p class="WorkU">{{ user.work }}</p>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_users', {'id': user.id}) }}"><p class="UsernameU">{{ user.username }}</p></a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('profile_users_admin', {'id': user.id}) }}"><p class="UsernameU">{{ user.username }}</p></a>
                {% endif %}
            </div>
        {% endfor %}
    {% elseif surnameUser is not empty %}
        {% for user in user if surnameUser == user.surname %}
            <div class="BlockU">
                <p class="NameU">{{ user.name }} || {{ user.surname }}</p>
                {% if user.work != NULL %}
                    <p class="WorkU">{{ user.work }}</p>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_users', {'id': user.id}) }}"><p class="UsernameU">{{ user.username }}</p></a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('profile_users_admin', {'id': user.id}) }}"><p class="UsernameU">{{ user.username }}</p></a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    <div class="navigation">
        {{ knp_pagination_render(user) }}
    </div>
{% endblock %}