{% extends "base.html.twig" %}

{% block body %}
    <h1>L'article</h1>
    {% for article in articles %}
        <div class="BlockA">
            <p class="NameA">{{ article.name }}</p>
            <img class="PhotoA" src="{{ article.picture }}" alt="Photo">
            <p class="DesA">Description</p>
            <p class="DescriptionA">{{ article.description }}</p>
            <p class="LatinA">{{ article.namelatin }}</p>
            <p class="ToxiciteA">{{ article.toxicite }}</p>
            <p class="EnvironnementA">{{ article.environnement }}</p>
            <p class="AchatA">{{ article.urlBuy }}</p>
            <p class="DateA">{{ article.date }}</p>
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_row(form.content, {
        'label': " ",
        'attr': {
            'placeholder': "Commentaires de l'articles"
        }
    }) }}
    {{ form_row(form.Send) }}
    {{ form_end(form) }}
    {% for comment in comments %}
        <p class="NameC"><span class="UserC">Username</span> {{ comment.users.username }}</p>
        <p class="DescriptionC"><span class="DesC">Description</span> {{ comment.content }}</p>
        <p class="DateC">{{ comment.date }}</p>
        {% if app.user == comment.users %}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('comments_edit_member', {"id": comment.id }) }}">Edit</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('comments_edit', {"id": comment.id }) }}">Edit</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
{% endblock %}