{% extends "base.html.twig" %}

{% block body %}
    <h2 class="Title">L'article</h2>
    {% for article in articles %}
        <div class="BlockA">
            <p class="NameA">{{ article.name }}</p>
            {% if article.picture != NULL %}
                <img class="PhotoA" src="{{ article.picture }}" alt="Photo">
            {% endif %}
            <p class="DescriptionA">{{ article.description }}</p>
            {% if article.namelatin != NULL %}
                <p class="LatinA">{{ article.namelatin }}</p>
            {% endif %}
            {% if article.toxicite != NULL %}
                <p class="ToxiciteA">{{ article.toxicite }}</p>
            {% endif %}
            {% if article.environnement != NULL %}
                <p class="EnvironnementA">{{ article.environnement }}</p>
            {% endif %}
            {% if article.urlBuy != NULL %}
                <p class="AchatA">{{ article.urlBuy }}</p>
            {% endif %}
            <p class="DateA">{{ article.date }}</p>
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_row(form.content, {
        'label': " ",
        'attr': {
            'placeholder': "Commentaires de l'article"
        }
    }) }}
    {{ form_row(form.Poster) }}
    <div class="Center">
        <span class="ReturnList">Votre commentaire devra être validé afin d'être affiché</span>
    </div>
    {{ form_end(form) }}
    {% for comment in comments %}
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('profile_users', {"id": comment.users.id }) }}"><p class="NameC"> {{ comment.users.username }}
                </p></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('profile_users_admin', {"id": comment.users.id }) }}"><p class="NameC"> {{ comment.users.username }}
                </p></a>
        {% endif %}
        <p class="DescriptionC">{{ comment.content }}</p>
        <p class="DateC">{{ comment.date }}</p>
        {% if app.user == comment.users %}
            {% if is_granted('ROLE_USER') %}
                <div class="Center">
                    <a href="{{ path('comments_edit_member', {"id": comment.id }) }}" class="ReturnList">Modifier</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="Center">
                    <a href="{{ path('comments_edit', {"id": comment.id }) }}" class="ReturnList">Modifier</a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
{% endblock %}