{% extends "base.html.twig" %}

{% block body %}
    <div>
        {% for user in user %}
            <div class="InfoPerso">
                <p style="text-align: center">
                    <span>{{ user.name }}</span>
                    <span>{{ user.surname }}</span>
                    <span>{{ user.age }} ans</span>
                    {% if app.user == user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span><a href="{{ path('parametre_users_admin', {"id": user.id}) }}">Paramètre</a></span>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <span><a href="{{ path('parametre_users_member', {"id": user.id}) }}">Paramètre</a></span>
                        {% endif %}
                    {% endif %}
                </p>
                <h4 style="text-decoration: underline"> A propos : </h4>
                <p><span style="font-weight: bold;">Pseudo:</span> {{ user.username }}</p>
                <p><span style="font-weight: bold;">Adresse Email:</span> {{ user.email }}</p>
                <p><span style="font-weight: bold;">Region:</span> {{ user.region }}</p>
                <p><span style="font-weight: bold;">Ville:</span> {{ user.ville }}</p>
                <p><span style="font-weight: bold;">Travail:</span> {{ user.work }}</p>
                <p><span style="font-weight: bold;">Description:</span> {{ user.apropos }}</p>
            </div>
            {% if app.user == user %}
                <div class="AjoutPublication">
                    {{ form_start(form) }}
                    {{ form_row(form.publication, {
                        'label': " ",
                        'attr': {
                            'placeholder': "Contenu de la publication"
                        }
                    }) }}
                    {{ form_row(form.picture, {
                        'label': " ",
                        'attr': {
                            'placeholder': "Photo de la publication"
                        }
                    }) }}
                    {{ form_end(form) }}
                </div>
            {% endif %}
            {% for publication in publications %}
                <div class="Publication">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('profile_users', {"id": publication.users.id}) }}"><span>{{ publication.users.username }}</span></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('profile_users_admin', {"id": publication.users.id}) }}"><span>{{ publication.users.username }}</span></a>
                    {% endif %}
                    <span> | {{ publication.users.work }}</span>
                    <p>{{ publication.publication }}</p>
                    <p>{{ publication.date }}</p>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('comments_publication', {"id": publication.id}) }}">Clique pour commenter</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('comments_publication_admin', {"id": publication.id}) }}">Clique pour
                            commenter</a>
                    {% endif %}
                    {% if app.user == publication.users %}
                        {% if is_granted('ROLE_USER') %}
                            <p>
                                <a href="{{ path('publications_edit_member', {"id": publication.id}) }}">Edit</a>
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>
                                <a href="{{ path('publications_edit', {"id": publication.id}) }}">Edit</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(publications) }}
        </div>
    </div>
{% endblock %}