{% extends "base.html.twig" %}

{% block body %}
    <div>
        {% for user in user %}
            <div class="InfoPerso">
                <p style="text-align: center">
                    <span>{{ user.name }}</span>
                    <span>{{ user.surname }}</span>
                    {% if user.age != NULL %}
                        <span>{{ user.age }} ans</span>
                    {% endif %}
                    {% if app.user == user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span><a href="{{ path('parametre_users_admin', {"id": user.id}) }}">Paramètre</a></span>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <span><a href="{{ path('parametre_users_member', {"id": user.id}) }}">Paramètre</a></span>
                        {% endif %}
                    {% endif %}
                </p>
                <h4 style="text-decoration: underline"> A propos : </h4>
                <p><span style="font-weight: bold;">Pseudo:</span> {{ user.username }}</p>
                <p><span style="font-weight: bold;">Adresse Email:</span> {{ user.email }}</p>
                {% if user.region != NULL %}
                    <p><span style="font-weight: bold;">Region:</span> {{ user.region }}</p>
                {% endif %}
                {% if user.ville != NULL %}
                    <p><span style="font-weight: bold;">Ville:</span> {{ user.ville }}</p>
                {% endif %}
                {% if user.work != NULL %}
                    <p><span style="font-weight: bold;">Travail:</span> {{ user.work }}</p>
                {% endif %}
                <p><span style="font-weight: bold;">Description:</span> {{ user.apropos }}</p>
            </div>
            {% if app.user == user %}
                <div class="AjoutPublication">
                    {{ form_start(form) }}
                    {{ form_row(form.publication, {
                        'label': " ",
                        'attr': {
                            'placeholder': "Contenu de la publication *"
                        }
                    }) }}
                    {{ form_row(form.picture, {
                        'label': " ",
                        'attr': {
                            'placeholder': "Photo de la publication"
                        }
                    }) }}
                    <button type="submit" class="Bouton" data-label="Poster">
                        Poster
                    </button>
                    {{ form_end(form) }}
                    <h4>Les champs contenant une étoile "*" sont les champs obligatoire à remplir</h4>
                </div>
            {% endif %}
            {% for publication in publications %}
                <div class="Publication">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('profile_users', {"id": publication.users.id}) }}"><span>{{ publication.users.username }}</span></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('profile_users_admin', {"id": publication.users.id}) }}"><span>{{ publication.users.username }}</span></a>
                    {% endif %}
                    {% if publication.users.work != NULL %}
                    <span> | {{ publication.users.work }}</span>
                    {% endif %}
                    <p class="Publication">{{ publication.publication }}</p>
                    <p class="Date">{{ publication.date }}</p>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('comments_publication', {"id": publication.id}) }}">Clique pour commenter</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('comments_publication_admin', {"id": publication.id}) }}">Clique pour
                            commenter</a>
                    {% endif %}
                    {% if app.user == publication.users %}
                        {% if is_granted('ROLE_USER') %}
                            <p>
                                <a href="{{ path('publications_edit_member', {"id": publication.id}) }}">Modifier</a>
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>
                                <a href="{{ path('publications_edit', {"id": publication.id}) }}">Modifier</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(publications) }}
        </div>
    </div>

    {#
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalTitle">Ajout d'un article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    #}
{% endblock %}

{#{% block javascripts %}
    {{ parent() }}
    script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script>
        $(document).on('submit', 'form', function (event) {
            event.preventDefault();

            $form = $(event.target);
            modal = $('#exampleModal');

            var publication = $(".Publication").val();
            var date = $(".Date").val();

            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);

            $form.ajaxSubmit({
                type: 'post',
                success: function (data) {
                    if (data == 'ok') {
                        $('.Publication').textContent = publication;
                        $('.Date').textContent = date;
                        modal.modal('toggle');
                    } else {
                        modal.find('.modal-body').html(data);
                    }
                },
                error: function (jqXHR, status, error) {
                    $submitButton.html(button.data('label'));
                    $submitButton.prop('disabled', false)
                }
            });
        });
        $(document).on('submit', "form", function (e) {
            e.preventDefault();
            axios.get('/member/ajax/add/{{ public }}/publicationsP').then(function (response) {
                console.log(response);
                publication.textContent = response.data.publication.publication;
                date.textContent = response.data.publication.date;
                form.textContent = response.data.form;
            }).catch(function (error) {
                if (error.response.status === 404) {
                    window.alert("Une erreur c'est produite, veuillez réessayez plus tard");
                } else {
                    window.alert("Une erreur c'est produite, veuillez réessayez plus tard");
                }
            });
            $form = $(e.target);
            $form.ajaxSubmit({
                type: 'post',
                success: function (data) {
                    if (data == "ok") {
                        console.log(data);
                        $('.Publication').textContent = data.publication.publication
                    } else {
                        console.log(data);
                        window.alert('Pas ok');
                    }
                },
            })
        });
        $(".Bouton").click(function (event) {
            event.preventDefault();
            const publication = $('.Publication');
            const date = $('.Date');
            const form = $('.AjoutPublication');
            axios.get('/member/ajax/add/{{ public }}/publicationsP').then(function (response) {
                console.log(response);
                publication.textContent = response.data.publication.publication;
                date.textContent = response.data.publication.date;
                form.textContent = response.data.form;
            }).catch(function (error) {
                if (error.response.status === 404) {
                    window.alert("Une erreur c'est produite, veuillez réessayez plus tard");
                } else {
                    window.alert("Une erreur c'est produite, veuillez réessayez plus tard");
                }
            });
        });
    </script>
{% endblock %}#}