{% extends "base.html.twig" %}

{% block body %}
    <div>
        {% for user in user %}
            <div class="InfoPerso Center">
                <p>
                    <span class="NameU">{{ user.name }}</span>
                    <span class="NameU">{{ user.surname }}</span>
                    {% if user.age != NULL %}
                        <span class="NameU">{{ user.age }} ans</span>
                    {% endif %}
                    {% if app.user == user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span><a href="{{ path('parametre_users_admin', {"id": user.id}) }}">Paramètre</a></span>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <span><a href="{{ path('parametre_users_member', {"id": user.id}) }}">Paramètre</a></span>
                        {% endif %}
                    {% endif %}
                </p>
                <h4 class="Oblig"> A propos : </h4>
                <p class="UsernameU"> {{ user.username }}</p>
                {% if user.region != NULL %}
                    <p class="RegionU"> {{ user.region }}</p>
                {% endif %}
                {% if user.ville != NULL %}
                    <p class="VilleU"> {{ user.ville }}</p>
                {% endif %}
                {% if user.work != NULL %}
                    <p class="WorkU"> {{ user.work }}</p>
                {% endif %}
                <p class="DescriptionU"> {{ user.apropos }}</p>
            </div>
            {% if app.user == user %}
                <div class="AjoutPublication">
                    <h4 class="Title Center">Ajouter une publication</h4>
                    {{ form_start(form) }}
                    {{ form_row(form.publication, {
                        'label': " ",
                        'attr': {
                            'placeholder': "Contenu de la publication *"
                        }
                    }) }}
                    {{ form_row(form.picture, {
                        'label': " ",
                        'attr': {
                            'placeholder': "Photo de la publication"
                        }
                    }) }}
                    <button type="submit" class="Bouton" data-label="Poster">
                        Poster
                    </button>
                    {{ form_end(form) }}
                    <h4 class="Oblig Center">Les champs contenant une étoile "*" sont les champs obligatoire à remplir</h4>
                </div>
            {% endif %}
            {% for publication in publications %}
                <div class="Publication Center">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('profile_users', {"id": publication.users.id}) }}"><span
                                    class="UsernameU">{{ publication.users.username }}</span></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('profile_users_admin', {"id": publication.users.id}) }}"><span
                                    class="UsernameU">{{ publication.users.username }}</span></a>
                    {% endif %}
                    {% if publication.users.work != NULL %}
                        || <span class="WorkU"> {{ publication.users.work }}</span>
                    {% endif %}
                    <p class="PublicationP">{{ publication.publication }}</p>
                    <p class="DateCP">{{ publication.date }}</p>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('comments_publication', {"id": publication.id}) }}" class="ReturnList">Clique
                            pour commenter</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('comments_publication_admin', {"id": publication.id}) }}" class="ReturnList">Clique
                            pour
                            commenter</a>
                    {% endif %}
                    {% if app.user == publication.users %}
                        {% if is_granted('ROLE_USER') %}
                            <p>
                                <a href="{{ path('publications_edit_member', {"id": publication.id}) }}" class="ReturnList">Modifier</a>
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>
                                <a href="{{ path('publications_edit', {"id": publication.id}) }}" class="ReturnList">Modifier</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(publications) }}
        </div>
    </div>
{% endblock %}