{% extends "base.html.twig" %}

{% block body %}
    <h2 class="Title">Administrateur</h2>
    <div class="Lien">
        <p class="Sous-Lien">
            <a href="{{ path('users') }}">Voir tous les utilisateurs enregistrés</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('users_active') }}">Voir tous les utilisateurs à activer</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('articles') }}">Voir tous les articles enregistrés</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('articles_active') }}">Voir tous les articles à activer</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('comments') }}">Voir tous les commentaires enregistrés</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('comments_active') }}">Voir tous les commentaires à activer</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('categories') }}">Voir tous les catégories enregistrés</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('categories_active') }}">Voir tous les catégories à activer</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('categories_new') }}">Ajouter des catégories</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('publications') }}">Voir tous les publications</a>
        </p>
        <p class="Sous-Lien">
            <a href="{{ path('commentsP') }}">Voir tous les commentaires de publications</a>
        </p>
    </div>
{% endblock %}