{% extends "base.html.twig" %}

{% block body %}
    {% if app.user == article.users %}
        {% if is_granted('ROLE_USER') %}
            {{ form(form) }}
            {{ include('admin/Articles/deleteM.html.twig') }}
            <a href="{{ path('homepage_member') }}">Retourner sur la liste</a>
        {% endif %}
    {% elseif is_granted('ROLE_ADMIN') %}
        {{ form(form) }}
        {{ include('admin/Articles/delete.html.twig') }}
        <a href="{{ path('articles') }}">Retourner sur la liste</a>
    {% else %}
        <h1> Tu n'as pas accès à cette page </h1>
    {% endif %}
{% endblock %}