<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body id="main">
<header>
    <nav>
        <div id="hamburger-menu">
            <span>...</span>
            {% if not app.user %}
                <a href="{{ path('homepage') }}">Home</a>
                <a href="{{ path('registration') }}"> Registration </a>
                <a href="{{ path('login') }}"> Login</a>
            {% else %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('homepage_member') }}">Home</a>
                    <a href="{{ path('create_article_member') }}"> Ajouter un article </a>
                    <a href="{{ path('users_register_member') }}">Consulter les profils</a>
                    <a href="{{ path('logout') }}"> Logout </a>
                    <a href="{{ path('profile_users', {"id": users.id}) }}">{{ users.username }}</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('homepage_admin') }}">Home</a>
                    <a href="{{ path('create_article_admin') }}"> Ajouter un article </a>
                    <a href="{{ path('logout') }}"> Logout </a>
                    <a href="{{ path('panel_admin') }}">Panel Admin</a>
                    <a href="{{ path('profile_users_admin', {'id': users.id}) }}">{{ users.username }}</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
<div id="Carousel" class="Carousel">

    <img id="Previous" src="{{ asset('Bouton/Previous.png') }}" alt="BoutonPrevious">

    <img id="Next" src="{{ asset('Bouton/Next.png') }}" alt="BoutonNext">

</div>
<footer>
    <p> Site réalisé par Amandine Labaeye </p>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/javascript.js') }}"></script>
{% endblock %}
</body>
</html>
