{% extends "base.html.twig" %}
{% block body %}
    {% if not app.user %}
        <h1> Page d'accueil </h1>
        {% for article in articles %}
            <p>{{ article.name }}</p>
            <img src="{{ article.picture }}" alt="Photo">
            <p>{{ article.description }}</p>
            <p>{{ article.date }}</p>
            <p>Pour voir plus d'informations veuillez vous connectez</p>
        {% endfor %}
    {% else %}
        {% if is_granted('ROLE_USER') %}
            <h1> Page d'accueil </h1>
            {% for article in articles %}
                <p>{{ article.name }}</p>
                <img src="{{ article.picture }}" alt="Photo">
                <p>{{ article.description }}</p>
                <p>{{ article.date }}</p>
                <a href="{{ path('one_member', {'id': article.id}) }}"> Voir plus </a>
            {% endfor %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% for article in articles %}
                <p>{{ article.name }}</p>
                <img src="{{ article.picture }}" alt="Photo">
                <p>{{ article.description }}</p>
                <p>{{ article.date }}</p>
                <a href="{{ path('one_admin', {'id': article.id}) }}"> Voir plus </a>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}