{% extends "base.html.twig" %}

{% block body %}
{% if message is defined %} {{ message }} {% endif %}
    <h2 class="Title">Vous voulez nous contacter</h2>
    <div>
        {{ form_start(form) }}

        {{ form_row(form.Nom) }}

        {{ form_row(form.Mail) }}

        {{ form_row(form.Objet) }}

        {{ form_row(form.Message) }}

        {{ form_row(form.Envoyer) }}

        {{ form_end(form) }}

    </div>
{% endblock %}