{% extends "base.html.twig" %}
{% block body %}
    <div class="Lien BlockCategorie">
        {% for categorie in categories %}
            <a class="Sous-Lien" href="{{ path('categories_pf', {'id': categorie.id}) }}">{{ categorie.name }}</a>
        {% endfor %}
    </div>
    {% if not app.user %}
        {% for article in articles %}
            <div class="BlockA">
                <p class="NameA">{{ article.name }}</p>
                {% if article.picture != NULL %}
                    <img class="PhotoA" src="{{ article.picture }}" alt="{{ article.name }}">
                {% endif %}
                <p class="DescriptionA"> {{ article.description }}</p>
                <p class="DateA">{{ article.date }}</p>
                <a href="{{ path('login') }}">Pour voir plus d'informations veuillez vous connectez</a>
            </div>
        {% endfor %}
    {% else %}
        {% if is_granted('ROLE_USER') %}
            {% for article in articles %}
                <div class="BlockA">
                    <p class="NameA">{{ article.name }}</p>
                    {% if article.picture != NULL %}
                        <img class="PhotoA" src="{{ article.picture }}" alt="{{ article.name }}">
                    {% endif %}
                    <p class="DescriptionA">{{ article.description }}</p>
                    <p class="DateA">{{ article.date }}</p>
                    <p>
                        <a href="{{ path('article_like', {"id": article.id}) }}" class="js-like-link">
                            {% if app.user and article.isLikeByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ article.likeArticles | length }}</span>
                            <span class="js-label">J'aime</span>
                        </a>
                    </p>
                    <p>
                        <a href="{{ path('one_member', {'id': article.id}) }}"> Voir plus </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% for article in articles %}
                <div class="BlockA">
                    <p class="NameA">{{ article.name }}</p>
                    {% if article.picture != NULL %}
                        <img class="PhotoA" src="{{ article.picture }}" alt="{{ article.name }}">
                    {% endif %}
                    <p class="DescriptionA">{{ article.description }}</p>
                    <p class="DateA">{{ article.date }}</p>
                    <p>
                        <a href="{{ path('article_like_admin', {"id": article.id}) }}" class="js-like-link">
                            {% if app.user and article.isLikeByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ article.likeArticles | length }}</span>
                            <span class="js-label">J'aime</span>
                        </a>
                    </p>
                    <p>
                        <a href="{{ path('one_admin', {'id': article.id}) }}"> Voir plus </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    {% endif %}
{% endblock %}