{% extends "base.html.twig" %}

{% block body %}
    {% if app.user == publication.users %}
        {% if is_granted('ROLE_USER') %}
            {{ form(form) }}
            {{ include('admin/Publications/deleteM.html.twig') }}
            <div class="Center">
                <a href="{{ path('profile_users', {"id": publication.users.id}) }}" class="ReturnList">Retourner sur la
                    liste</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ form(form) }}
            {{ include('admin/Publications/delete.html.twig') }}
            <div class="Center">
                <a href="{{ path('publications') }}" class="ReturnList">Retourner sur la liste</a>
            </div>
        {% endif %}
    {% else %}
        <h2 class="Error">Tu n'as pas accès à cette page</h2>
    {% endif %}
{% endblock %}