{% extends "base.html.twig" %}

{% block body %}
    {% for publication in publications %}
        <div class="CartePublication">
            <p class="PublicationP"><span class="Categorie">Publication</span> {{ publication.publication }}</p>
            <p class="NameU"><span class="Categorie">Photo</span> {{ publication.picture }}</p>
            <p class="UsernameU"><span class="Categorie">Date</span> {{ publication.date }}</p>
            <p><span class="Categorie">Actions</span>
                <a href="{{ path('publications_show', {'id': publication.id}) }}" class="ReturnList">Voir</a>
                <a href="{{ path('publications_edit', {'id': publication.id}) }}" class="ReturnList">Modifier</a>
            </p>
        </div>
    {% else %}
        <p>Aucun résultat trouvé</p>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(publications) }}
    </div>
{% endblock %}