{% extends "base.html.twig" %}

{% block body %}
    {% for publication in publications %}
        <div class="CartePublication">
            <p><span class="Categorie">Publication</span> {{ publication.publication }}</p>
            <p><span class="Categorie">Photo</span> {{ publication.picture }}</p>
            <p><span class="Categorie">Date</span> {{ publication.date }}</p>
            <p><span class="Categorie">Actions</span>
                <a href="{{ path('publications_show', {'id': publication.id}) }}">Voir</a>
                <a href="{{ path('publications_edit', {'id': publication.id}) }}">Modifier</a>
            </p>
        </div>
    {% else %}
        <p>Aucun résultat trouvé</p>
    {% endfor %}

    <a href="{{ path('publications') }}">Retourner sur la liste</a>
{% endblock %}